@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "freezia";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 308.299);
  --color-base-200: oklch(94% 0.033 307.174);
  --color-base-300: oklch(90% 0.063 306.703);
  --color-base-content: oklch(38% 0.176 304.987);
  --color-primary: oklch(63% 0.237 25.331);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(43% 0.218 303.724);
  --color-neutral-content: oklch(97% 0.014 308.299);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}
